
services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: server
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://mongo:27017/day2db
    depends_on:
      - mongo
    volumes:
      - ./server:/usr/src/app
    command: node src/index.js

  client:
    build: ./client
    container_name: client
    ports:
      - "3000:3000"
    depends_on:
      - server
    volumes:
      - ./client:/usr/src/app
    command: npm start

volumes:
  mongo_data:
